@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-float-up: floatUp 20s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(100px) scale(0.5) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(-1000px) scale(1.2) rotate(360deg);
    opacity: 0;
  }
}

.animate-float-up {
  animation: floatUp 20s linear infinite;
}

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #0f172a; /* slate-900 */
}

.dark {
  --background: #0f172a; /* slate-900 */
  --foreground: #f8fafc; /* slate-50 */
}

body {
  background: var(--background);
  color: var(--foreground);
}
